.mce-floatpanel.mce-popover.mce-bottom.mce-fw-shortcodes-container {
	overflow: auto;
	padding: 10px 5px 10px 10px;
	margin-top: 5px;
}

.mce-fw-shortcodes-container .fw-shortcode-item {
	width: 70px;
	height: 70px;
	border: 1px solid #e1e1e1;
	font-size: 11px;
	margin: 0 5px 5px 0;
	background-color: #ffffff;
	float: left;
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}

.mce-fw-shortcodes-container .fw-shortcode-item .inner {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	padding-top: 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.mce-fw-shortcodes-container .fw-shortcode-item p span {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.2;
	font-size: 10px;
	color: #666;
	text-align: center;
	white-space: normal;
}

.mce-fw-shortcodes-container .fw-shortcode-item img {
	width: 16px;
	height: 16px;
}

.mce-fw-shortcodes-container .fw-shortcode-item p {
	text-align: center;
}


/* unyson button*/
@font-face {
	font-family: 'fw-button-font-icon';
	src:url('../fonts/fw-icomoon.eot?iganyx');
	src:url('../fonts/fw-icomoon.eot?#iefixiganyx') format('embedded-opentype'),
	url('../fonts/fw-icomoon.woff?iganyx') format('woff'),
	url('../fonts/fw-icomoon.ttf?iganyx') format('truetype'),
	url('../fonts/fw-icomoon.svg?iganyx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.mce-ico.mce-i-fw-button-icon:before {
	font-family: 'fw-button-font-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	content: "\e600";
	font-size: 14px;
	line-height: 20px;
}
/* end unyson button */